@import "compass/css3";

html {
  font-family: $base-font-family;
  line-height: 160%;
  font-size: $base-font-size;
}

.node {
  ul li {
    font-family: $base-font-family;
    line-height: 160%;
    font-size: $base-font-size + 6;
  }
}
.pane-content {
  li {
    font-size: $base-font-size + 8;
    line-height: 140%;
  }
}
a {
  color: $links;
  text-decoration: none;
}
a.anchor {
  color: $sectionsubtitle;
}
p {
  font-size: $base-font-size + 8;
  line-height: 140%;
}

.invisible {
  @include element-invisible;
}
h1.title {
  margin: 0;
  font-family: $oswald;
  font-size: $base-font-size * 5;
  line-height: 100%;
  text-transform: uppercase;
  color: $sectiontitle;   
}
h1#page-title {
  margin-top: 50px;
}
/**
 * navigation
 */
.navigation {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: all 0.3s ease-in;

  &.fixed {
    background-color: rgba(0, 0, 0, 0.6);

    #nav ul li a {
      color: #fff;
    }
  }
}

#nav {
  @include clearfix;

  ul {
    @include clearfix;
    text-align: center;
    padding: 0 20px;

    li {
      display: inline;
      margin: 0 6px;
      line-height: normal;

      a {
        font-family: $oswald;
        font-weight: bold;
        font-size: $base-font-size + 8;
        color: $menuitemcolor;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

/**
 * landscape
 */
body.front {
  .landscape {
    background: url("../img/sky.png") repeat-x scroll 0 0 transparent;
    height: 800px;
    position: relative;
  }
  .hills {
    background: url("../img/hills.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 174px;
    width: 745px;
    position: absolute;
    top: 98px;
  }
  .boats {
    width: 100%;
    position: relative;
    height: 100px;
    margin: 0;
    top: 174px !important;
  
    .boat {
      position: absolute;
    }
    #smallboat {
      background: url("../img/boat_small.svg") no-repeat scroll 0 0 transparent;
      height: 60px;
      width: 30px;
      top: 25px;
    }
    #bigboat {
      background: url("../img/boat_big.svg") no-repeat scroll 0 0 transparent;
      height: 77px;
      top: 0;
      width: 66px;
    }
  }
  .lake {
    height: 800px;
    position: absolute;
    top: 0;
    width: 100%;
    background: url("../img/water_02.png") repeat-x scroll 0 0 transparent;
  }
  .logo {
    position: absolute;
    text-align: right;
    top: 189px;
    width: 100%;
  
    a {
      display: block;
      margin: 0 auto;
    }
    .logo-inner {
      width: 960px;
      margin: 0 auto;
      padding: 0 $dekstopgutter;
    }
  }
  .info {
    height: 400px;
    margin-top: 30px;
    position: absolute;
    top: 288px;
    width: 100%;
  
    h1 {
      color: transparent;
      display: block;
      height: 100%;
      position: relative;
      text-indent: -9000em;
      width: 960px;
      margin: 0 auto;
  
      span {
        background-repeat: no-repeat;
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        background-image: url("../img/big_typo.svg");
      }
    }
  }
  .logo-link {
    width: 100%;
  
    .logo-link-inner {
      width: 960px;
      margin: 0 auto;
      position: relative;
  
      a {
        height: 74px;
        width: 345px;
        position: absolute;
        right: 0;
        top: 190px;
        display: block;
      }
    }
  }
  .rounded-corner .wrap-corner {
    background-color: transparent !important;
    background-image: none;
    
     .b-edge,  
     .t-edge,
     .l,
     .r,
     .l-edge,
     .r-edge {
       background-image: none;
       background-color: transparent !important;
     }
  }
}

// clouds in header
.clouds {
  height: 100px;
  margin: 0;
  width: 100%;
  top: 20px !important;
  
  .cloud {
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
  }
  .cloud-left {
    background-image: url("../img/cloud_left.svg");
  }
  .cloud-right {
    background-image: url("../img/cloud_right.svg");
  }
  .cloud1 {
    width: 100px;
    height: 40px;
    background-size: 100px auto;
  }
  .cloud2 {
    width: 122px;
    height: 52px;
    top: 20px;
    background-size: 122px auto;
  }
  .cloud3 {
    width: 122px;
    height: 52px;
    background-size: 122px auto;
    top: 80px;
  }
  .cloud4 {
    width: 166px;
    height: 70px;
    background-size: 166px auto;
  }
  .cloud5 {
    top: 0;
    width:142px;
    height: 60px;
    background-size: 142px auto;
  }
  .cloud6,
  .cloud8 {
    width: 71px;
    height: 30px;
    background-size: 71px auto;
    top: 49px;
  }
  .cloud7,
  .cloud9 {
    width: 49px;
    height: 21px;
    background-size: 49px auto;
    top: 40px;
  }
  .cloud10 {
    width: 115px;
    height: 49px;
    background-size: 115px auto;
  }
}

body.not-front {
  .landscape {
    background: url("../img/sky.png") repeat-x scroll 0 0 transparent;
    height: 320px;
    position: relative;
  }
  .hills {
    background: url("../img/hills.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 162px;
    width: 745px;
    position: absolute;
    top: 109px;
  }
  .boats {
    width: 100%;
    position: relative;
    height: 100px;
    margin: 0;
    top: 174px !important;
  
    .boat {
      position: absolute;
    }
    #smallboat {
      background: url("../img/boat_small.svg") no-repeat scroll 0 0 transparent;
      height: 60px;
      width: 30px;
      top: 25px;
    }
    #bigboat {
      background: url("../img/boat_big.svg") no-repeat scroll 0 0 transparent;
      height: 77px;
      top: 0;
      width: 66px;
    }
  }
  .lake {
    height: 320px;
    position: absolute;
    top: 0;
    width: 100%;
    background: url("../img/water_02_small.png") repeat-x scroll 0 0 transparent;
  }
  .logo {
    position: absolute;
    text-align: right;
    top: 189px;
    width: 100%;
  
    a {
      display: block;
      margin: 0 auto;
    }
    .logo-inner {
      width: 960px;
      margin: 0 auto;
      padding: 0 $dekstopgutter;
    }
  }  
  .logo-link {
    width: 100%;
  
    .logo-link-inner {
      width: 960px;
      margin: 0 auto;
      position: relative;
  
      a {
        height: 74px;
        width: 345px;
        position: absolute;
        right: 0;
        top: 190px;
        display: block;
      }
    }
  }
}
/**
 * content
 */
.content {

  section {
    padding-top: 2.5em;
  }
  h2.section-title{
    margin: 0;
    font-family: $oswald;
    font-size: $base-font-size * 5;
    line-height: 100%;
    text-transform: uppercase;
    color: $sectiontitle;
  }
  h3.section-subtitle{
    margin: 40px 0 0 0;
    font-family: $oswald;
    font-weight: 100;
    font-size: $base-font-size * 2 + 6;
    line-height: 100%;
    text-transform: uppercase;
    color: $sectionsubtitle;
  }
  .field-label {
    margin: 25px 0 10px 0;
  }
  .field-items {
    margin-bottom: 10px;
  }
}
.panel-pane  {

  h2 {
    margin: 0;
    font-family: $oswald;
    font-size: $base-font-size * 5;
    line-height: 100%;
    text-transform: uppercase;
    color: $sectiontitle;
  }
  h3 {
    margin: 40px 0 0 0;
    font-family: $oswald;
    font-weight: 100;
    font-size: $base-font-size * 2 + 6;
    line-height: 100%;
    text-transform: uppercase;
    color: $sectionsubtitle;
  }
}
// node page 
body.page-node {
  .node {
    position: relative;
  }
  .field-name-field-sponsor-logo {
    margin-top: -89px;
    position: absolute;
    right: 0;
  }
}

// sponsors row in frontpage 
body.front .sponsors {
  padding: 20px 0;
  
  h3 {
    font-family: $oswald;
    font-size: $base-font-size *2;
    color: #000;
    font-weight: bold;
    margin: 0;
    float: left;
    margin: 17px 20px 0 0;
  }
  .views-row {
    float: left;
    margin-right: 40px;
  }
  .sponsor-row {
    @include clearfix;
    margin-bottom: 10px
  }
  .view-content div:first-child h3 {
    margin-top: 20px;
  }
  .view-content .sponsor-row:nth-child(1) h3 {
     margin-top: 31px;
  }
  .view-content .sponsor-row:nth-child(2) h3 {
     font-size: $base-font-size +5;
     margin-right: 30px;
  }
  .view-content .sponsor-row:last-child {
    margin-bottom: 0;
  }  
}
// keynote
.panels-flexible-row-2-main-row {
  background-color: $sectiontitle;
  width: 100%;
  
  .keynote {
    .pane-title {
      color: #fff;
    }
   .speaker-name {
      font-size: $base-font-size * 2 + 8;
      color: $links;
      font-family: $oswald;
      line-height: 100%;
      text-transform: uppercase;
      font-weight: bold; 
    }
    .speaker-title {
      font-size: $base-font-size + 8;
      font-family: $oswald;
      line-height: 110%;
      text-transform: uppercase;
      font-weight: bold;    
      color: $sectiontitle-40;
    }
    .speaker-nick {
      color: #fff;
      font-size: $base-font-size + 8;
      font-family: $oswald;
      line-height: 110%;
      text-transform: uppercase;
      font-weight: bold;    
    }
    .user {
      float: left;
      margin: 30px 7px 22px 7px;
      width: 300px;
      
      .image {
        margin-top: 25px;
      }
      .tab-button {
        width: 90%;
        margin-top: 25px;
        
        a {
          color: #fff;
        }
      }
    }
    .user .speaker-title {
      margin-bottom: 49px;
    }
    .views-row-first .speaker-title,
    .views-row-last .speaker-title {
      margin-bottom: 0;
    }  
  }
}
// speakers node
body.node-type-speaker {
  .field-name-field-speaker-photo {
    float: right;
    margin: -30px 0 15px 15px;
  }
  .field-name-field-speaker-job-title {
    margin: 40px 0 0 0;
    
    .field-label {
      margin: 0;
    }
  }
  .field-label,
  .field-item {
    font-size: $base-font-size +10;
  }
}

// edit pages
body.page-node-edit {
  .field-name-field-speaker-photo {
    float: none;
    margin: 20px 0;
  }  
  .field-name-field-sponsor-logo {
    position: relative;
    margin-top: 0;
    left: 0;
  }
}
p.price {
  display: none;
}

section {
    margin-top: -4.5em;
    padding-top: 4.5em;
}
.tab-content {
  background-color: $menuitemcolor;
  padding: 40px 0 50px;
  margin-top: -1px;

  p {
    a {
      color:#8abad7;
      @include text-shadow(0 -2px #082637);
      transition: color 1s;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p, ul, li, h3 {
    color: #fff;
  }
}

.tab-button {
  a {
    @include submit-button;
    padding: 14px 0;
  }  
}
// about
.about {
  margin-top: 25px;
}
.event-data {
  background: url("../img/drupalaton_hungary.jpg") no-repeat scroll top right transparent;
  padding: 20px 0;
  margin-bottom: 20px;
}
.about-buttons {
  .tab-button {
    width: 31%;
    float: left;
    
    a {
      color: #fff;
    }
    &.center {
      margin: 0 30px;
    }
  }
}
.sponsors.tab-button {
  @include orange-button;

  width: 100%;
  max-width: 900px;
  margin: 40px 0 0 0;
  text-align: center;
  border: 0;
}
.contactmin {
  .content {
    padding: 80px 0;
  }
  p {
    margin: 0;
    display: block;
    font-family: $oswald;
    color: $sectiontitle;
    text-transform: uppercase;
    line-height: 100%;
    font-size: $base-font-size * 5 + 2;
    font-weight: bold;

    span a {
      color: $menuitemcolor;
    }
  }
}

div.twitter {
  background-color: $sectiontitle;
  padding: 60px 0;

  span {
    display: block;
    font-family: $oswald;
    color: #fff;
    text-transform: uppercase;
    line-height: 100%;
    font-size: $base-font-size * 4 + 11;
    font-weight: bold;

    &.second {
      color: $twitterurl;
    }
  }
}
div.newsletter {
  background-color: $menuitemcolor;
  padding: 60px 0;

  span {
    display: block;
    font-family: $oswald;
    color: #fff;
    text-transform: uppercase;
    line-height: 100%;
    font-size: $base-font-size * 4 + 11;
    font-weight: bold;

    &.second {
      color: $twitterurl;
    }
    &.first {
      color: $sectiontitle;
    }
  }
  input.email {
    position: relative;
    color: $sectiontitle;
    background-color: #ffffff;
    font-family: $oswald;
    font-weight: bold;
    display: block;
    text-transform: uppercase;

    font-size:$base-font-size + 8;
    padding:14px 30px 10px 30px;
    @include border-radius(6px);
    @include box-shadow(#bfbfbf 0px -6px);

    width: 50%;
    float: left;
    margin: 40px 40px 0 0;
    text-align: left;
    border: 0;
  }
  input.button {
    @include orange-button;

    width: 25%;
    float: left;
    margin: 40px 0 0 0;
    text-align: center;
    border: 0;

  }
}

// social
div.social {
  background-color: $orange;
  padding: 60px 0;

  display: block;
  font-family: $oswald;
  color: #fff;
  text-transform: uppercase;
  line-height: 100%;
  
  p {
    font-size: $base-font-size * 4 + 11;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}


.partner-link {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}
.sponsor-link:hover,
.sponsor-link:focus,
.partner-link:hover,
.partner-link:focus {
  border-color: #f0a303;
}

// location

.location-area {
  background: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 300px;
}
.location,
.sessionproposals,
.about {
  margin-bottom: 60px;
}
.keynote {
  margin-bottom: 20px;
  margin-top: 60px;
}
.registration {
  margin-bottom: 40px;
}
.about-wrapper {
  margin-top: 20px;
}
.keynote-wrapper {
  margin-top: 60px;
}

// tables style

table {
  font-size: $base-font-size + 4;
  width: 100%;
  
  thead {
    
    th {
      padding: 0;
      border-bottom: 0;
      
      span {
        background-color: $tabletimetd;
        color: #fff;
        padding: 10px;
        display: table-cell;
      }
    }
  }
  tbody {
    border-top: 0;
    
    tr {
      border-bottom: 0;
      background-color: transparent;

      td {
        padding: 10px;
        border-width: 4px 2px;
        border-style: solid;
        border-color: #fff;
        background-color: $tabletd;
        color: #fff;
        font-weight: normal;
        font-size: 20px;
        vertical-align: top;
        
        a {
          color: #fff;
        }
        &.hide {
          background-color: $tabletd-80;
          color: $tabletd-35;
        }
        &.time {
          background-color: $tabletimetd;
          font-weight: normal;
          width: 15%;
        }
        &.time.hide {
          color: #fff;
        }
      }
            
       
      td:hover {
        background-color: $orange;
        transition: background-color 0.6s ease 0s;
        color: #fff;
        
        a {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
    tr:nth-child(odd), 
    tr:nth-child(even){
      background-color: transparent;
      border-bottom: 0;
    }
  }
}

table.program {
  margin: 15px 0;
  
  thead th{
    &.name {
      width: 22%;
    }
    &:first-child {
      width: 15%;
    }
  }
  
}

/**
 * device fixes
 */
@media all and (min-width: 960px) {
  #nav {
    width: $dekstopwidth;
    margin: 0 auto;
  }
  .tab-content .content {
    width: 960px;
    margin: 0 auto;
  }
  ul.badges {
    padding: 0;
    margin: 0;
    
    li {
      @include clearfix;
      list-style: none;
      border-bottom: 1px solid #CCC;
      padding: 13px 0 25px 0;
      margin: 13px 0 13px 0;
      
      &:last-child {
        border-bottom: 0;
      }
      
      img {
        float: left;
        margin-right: 50px;
      }
      .codeblock {
        display: block;
        float: left;
        width: 75%;
        
        code {
          font-size: 14px;
          line-height: 140%;
        }
      }
    }
  }
}
// big screen
@media all and (min-width: 1340px) {

}
// normal screen
@media all and (min-width: 1000px) and (max-width: 1339px) {

}
// tablet and small screen
@media all and (min-width: 600px) and (max-width: 999px) {
  section.keynote {
    h2.section-title {
      padding-left: 25px;
    }
    .user {
      float: none;
      padding-left: 25px;
    }
  }
  #nav ul li {
    margin: 0 5px;
    
    a {
      font-size: $base-font-size;
    }
  }
  .container_12 {
    width: 100%;
    
    .wrapper {
      padding: 0 40px;
    }
  }
  body {
    min-width: 600px;
    max-width: 999px;
  }
  .hills {
    width: 600px;
  }
  .logo-link .logo-link-inner {
    width: 100%;
    
    a {
      right: 90%;
    }
  }
  .logo {
    .logo-inner {
      width: 100%;
      padding: 0;
      
      img {
        right: 10%;
        position: relative;
      }
    }
  }
  .lake,
  .landscape {
    height:644px;
  }
  .info {
    height: 285px;
    
    h1 {
      width: 600px;
      
      span {
        background-size: 100% auto;
      }
    }
  }
  .about .event-data {
    background-size: 40% auto;
  }
  .sponsors .tab-button {
    width: 90%;
  }
  .newsletter .container_12,
  .twitter .container_12,
  .social .container_12 {
    padding: 0 40px;
    max-width: 86%;
  }
  .contactmin p,
  div.newsletter span,
  div.twitter span,
  div.social p {
    font-size: $base-font-size * 4;
  }
  div.newsletter input.email {
    width: 59%;
  }
  .tabs h2 a span {
    display: none;
  }
  p.price {
    display: block;
  }
}

// Sessions view in schedule page
.view-sessions {
  * {
    line-height: 100%;
  }
  p {
    line-height: 140%;
  }
  .views-row {
    margin-bottom: 60px;
    border-bottom: 4px solid $tabletd;
    padding-bottom: 35px;
  }
  .views-row-1 {
    margin-top: 50px;
  }
  .views-field-field-speaker-session-title {
    color: $orange;
    font-size: 35px;
    text-transform: uppercase;
    font-family: $oswald;
    line-height: 100%;
  }
  .views-field-field-speaker-session-type {
    font-size: 22px;
    font-family: $oswald;
    color: $tabletd-40;
    text-transform: uppercase;
  }
  .views-field-field-speaker-session-summary {
    
  }
  .views-field-title {
    color: $tabletd;
    font-size: 22px;
    text-transform: uppercase;
    font-family: $oswald;
    line-height: 140%;
    font-weight: bold;
    
    a {
      color: $tabletd;
    }
  }
  .views-field-field-speaker-job-title {
    font-size: 22px;
    font-family: $oswald;
    color: $tabletd-40;
    text-transform: uppercase;    
  }
  .views-field-field-speaker-photo {
    float: left;
    margin: 0 15px 15px 0;
  }
  .views-field-body {
    
  }
}

// landscape ipad tablet
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

}
// mobile device
@media all and (max-width: 599px) {
  body {
    max-width: 599px;
    min-width: 100px;
  }
  section.keynote {
    h2.section-title {
      padding-left: 15px;
    }
    .user {
      float: none;
      padding-left: 10px;
    }
  }
  .container_12 {
    width: 100%;
    max-width: 599px;
  }
  #nav ul {
    padding-left: 20px;
    
    li a {
      color: #fff;
    }
  }
  body.front {
    .hills {
      width: 100%;
      background-position: -392px 0;    
    }
    .logo {
      top: 196px;
      right: 0;
      position: relative;
      text-align: left;
    }
    .landscape {
      height: 492px;
  
      .hills {
        width: 100%;
        background-position: -392px 0;
      }
      .logo {
        top: 196px;
        right: 0;
  
        .logo-inner {
          width: 100%;
          max-width: 599px;
          padding: 0;
  
          img {
            margin: 0 30px 0 0;
            width: 280px;
          }
        }
      }
      .info {
        height: 262px;
        margin-top: 0;
  
        h1 {
          width: 100%;
          max-width: 500px;
  
          span {
            background-size: 89% auto;
            background-position: 18px 0;
            margin-left: 0;
            width: 100%;
          }
        }
      }
      .lake {
        height: 492px;
      }
      .logo-link-inner {
        width: 100%;
        max-width: 599px;
  
        a {
          right: 17px;
          top: 193px;
        }
      }
    }
    .sponsors {
      h3 {
        float: none;
      }
      .views-row {
        float: none;
        margin: 10px 0;
      }
    }
    
  }
  .clouds,
  .boats {
    display: none;
  }


  .tabs {
    height: auto;

    h2 {
      float: left;
      width: 30%;
      margin: 0 0 0 2%;
      
      &.last {
        margin-left: 0;
      }
      span {
        display: none;
      }
      &.middle {
        margin: 0 10px;
      }
      a {
        padding: 5px;
        font-size: $base-font-size;
      }
    }
  }
  .sponsors .tabs h2 a {
    font-size: $base-font-size;
  }
  .content {
    .wrapper {
      padding: 0 20px;
    }
  }
  .twitter span,
  .newsletter form {
    padding: 0 20px;
  }
  div.twitter span,
  div.newsletter span {
    font-size: $base-font-size + 18;
    line-height: 120%;
  }
  div.twitter {
    span {

    }
  }
  div.newsletter {
    input.email {
      float: none;
      width: 80%;
      margin: 20px 0 0 0;
      text-align: center;
    }
    input.button {
      width: 100%;
      float: none;
      margin: 20px 0 0 0;
    }
  }
  .navigation {
    height: auto;
  }
  h2.section-title,
  .panel-pane h2.pane-title {
    font-size: $base-font-size * 2;
  }
  .about .event-data {
    padding-bottom: 180px;
    background-size: 100% auto;
    background-position: 0 bottom;
  }
  .contactmin {
    p {
      font-size: $base-font-size * 2 + 2;
    }
  }
  .sponsors {
    .tab-button {
      width: 77%;
    }
  }
  .boats {
   .boat {
     display: none;
   }
  }
  .tab-content {
    p.price {
      display: block;
    }
  }
  div.social {
    img {
      height: 28px;
    }
    p {
      padding-left: 20px;
      padding-right: 20px;
      font-size: $base-font-size *2+4;
      line-height: 120%;
    }
  }
  .panels-flexible-row-2-main-row .keynote .speaker-name {
    font-size: $base-font-size *2;
  }
  .rounded-corner .wrap-corner .r-edge {
    padding: 5px 10px;
    width: 95%;
  }
  .panels-flexible-row-2-main-row .keynote .user {
    float: none;
    width: 100%;
    margin: 30px 0 0;
  }
  .panels-flexible-row-2-main-row .keynote .user .tab-button {
    width: 100%;
  }
  .about-buttons .tab-button {
    width: 100%;
    float: none;
    margin: 10px 0;
    
    &.center {
      margin: 10px 0;
    }
  }
}
@media all and (max-width: 1300px) {
  .hills {
    background-position: -320px 0;
  }
}
// iPhone 4, 4S Retina landscape
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  p {
    font-size: 16px;
    line-height: 140%;
  }
  .landscape {
    height: 440px;
    
    .lake {
      height: 440px;
    }
  }
  .about-wrapper, .location, .sessionproposals {
    margin-top: 40px;
  }
  .navigation #nav-toggle {
    height: 30px;
    background-size: 70% auto;
    background-position: 60% center;
  }
  #nav {
    ul li a {
      font-size: 12px;
    }
  }
}

// Standing retina screen
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 600px){
  .landscape .info h1 span {
    background-size: 270px auto;
    margin-left: 0.2em;
    width: 90%;
  }
}
